@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/font-awesome/css/font-awesome.css";
@import "includes/base";

header {
	h1 {
		font-weight: 300;
		text-align: center;
		font-size: 60px;
		margin-top: 180px;
	}
}